# Dependencies
node_modules/
package-lock.json

# Environment Variables & Secrets
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data & DB dumps
pids
*.pid
*.seed
*.pid.lock
dump/

# OS metadata
.DS_Store
Thumbs.db
ehthumbs.db

# IDE & Editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
